{% extends 'base.html' %}

{% block content %}
  {% if file %}
    <p>
      If file download doesn't start automatically cick the link below.
    </p>
    <a href="{{ file.newfile.url }}" > {{file.newfile.name}} </a>
    <script>
      window.location.replace("{{file.newfile.url}}");
    </script>

  {% else %}
    <p>
      Remove the waypoint tags from a GPX file so that it can be imported to garmin watches.
    </p>


  <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="file" name="myfile" class="form-control">
      <br>
      <button type="submit" class="btn btn-primary">Upload</button>
    </form>
  
  {% endif %}

{% endblock content %}